In [65]:
#import pandas with shorthand
import pandas as pd

#change how many columns are displayed in jupyter-notebook window
pd.set_option("display.max_columns",100)

In [111]:
#read crimes csv
#this dataset was crimes from 2014-2016
crimes = pd.read_csv('/Users/andrewyaz/Downloads/ippp_crimes.csv')

In [2]:
#look at columns
crimes.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [134]:
crimes[crimes.Arrest.isnull()]

Empty DataFrame
Columns: [ID, Case Number, Date, Block, IUCR, Primary Type, Description, Location Description, Arrest, Domestic, Beat, District, Ward, Community Area, FBI Code, X Coordinate, Y Coordinate, Year, Updated On, Latitude, Longitude, Location]
Index: []

In [114]:
crimes.shape

(263466, 22)

In [3]:

crimes.describe()

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,2.634660e+05,263466.000000,263466.000000,263464.000000,263466.000000,2.597680e+05,2.597680e+05,263466.0,259768.000000,259768.000000
mean,1.013066e+07,1144.083700,11.211162,22.817076,37.566825,1.164418e+06,1.885561e+06,2015.0,41.841580,-87.672178
std,4.593590e+05,690.763601,6.900580,13.785791,21.421903,1.648162e+04,3.116661e+04,0.0,0.085721,0.059992
min,2.171400e+04,111.000000,1.000000,1.000000,0.000000,1.094231e+06,1.813897e+06,2015.0,41.644590,-87.928909
25%,1.003283e+07,613.000000,6.000000,10.000000,23.000000,1.152382e+06,1.858658e+06,2015.0,41.767503,-87.716022
50%,1.014792e+07,1023.000000,10.000000,23.000000,32.000000,1.166028e+06,1.891488e+06,2015.0,41.857943,-87.666122
75%,1.026161e+07,1654.000000,16.000000,34.000000,57.000000,1.176364e+06,1.908370e+06,2015.0,41.904398,-87.628069
max,1.112912e+07,2535.000000,31.000000,50.000000,77.000000,1.205111e+06,1.951523e+06,2015.0,42.022575,-87.524615

In [5]:
#counts of values in each column, basically indicates if there are any NA's
crimes.count()

ID                      263466
Case Number             263466
Date                    263466
Block                   263466
IUCR                    263466
Primary Type            263466
Description             263466
Location Description    263166
Arrest                  263466
Domestic                263466
Beat                    263466
District                263466
Ward                    263464
Community Area          263466
FBI Code                263466
X Coordinate            259768
Y Coordinate            259768
Year                    263466
Updated On              263466
Latitude                259768
Longitude               259768
Location                259768
dtype: int64

In [88]:
crimes.dropna(inplace = True)

In [9]:
crimes.Arrest.value_counts()

False    193802
True      69664
Name: Arrest, dtype: int64

In [43]:
crimes.Date.dtype

dtype('O')

In [44]:
crimes.Date = pd.to_datetime(crimes.Date)

In [10]:
type(crimes.Arrest)

pandas.core.series.Series

In [11]:
type(crimes)

pandas.core.frame.DataFrame

In [125]:
#this data will be in this repo
weather = pd.read_csv('/Users/andrewyaz/Downloads/weather_year.csv')

In [126]:
weather.columns

Index(['EDT', 'Max TemperatureF', 'Mean TemperatureF', 'Min TemperatureF',
       'Max Dew PointF', 'MeanDew PointF', 'Min DewpointF', 'Max Humidity',
       ' Mean Humidity', ' Min Humidity', ' Max Sea Level PressureIn',
       ' Mean Sea Level PressureIn', ' Min Sea Level PressureIn',
       ' Max VisibilityMiles', ' Mean VisibilityMiles', ' Min VisibilityMiles',
       ' Max Wind SpeedMPH', ' Mean Wind SpeedMPH', ' Max Gust SpeedMPH',
       'PrecipitationIn', ' CloudCover', ' Events', ' WindDirDegrees'],
      dtype='object')

In [141]:
weather.EDT = pd.to_datetime(weather.EDT)
weather['day'] = weather.EDT.dt.dayofweek
weather['hour'] = weather.EDT.dt.hour
weather['month'] = weather.EDT.dt.month

In [142]:
weather.head(10)

,EDT,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressureIn,Mean Sea Level PressureIn,Min Sea Level PressureIn,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Event,WindDirDegrees,day,hour,month
0,2012-03-10,56,40,24,24,20,16,74,50,26,30.53,30.45,30.34,10,10,10,13,6,17.0,0.00,0,NaN,138,5,0,3
1,2012-03-11,67,49,30,43,31,24,78,53,28,30.37,30.27,30.13,10,10,10,22,7,32.0,T,1,Rain,163,6,0,3
2,2012-03-12,71,62,53,59,55,43,90,76,61,30.13,29.99,29.88,10,10,6,24,14,36.0,0.03,6,Rain,190,0,0,3
3,2012-03-13,76,63,50,57,53,47,93,66,38,30.12,30.06,29.97,10,10,4,16,5,24.0,0.00,0,NaN,242,1,0,3
4,2012-03-14,80,62,44,58,52,43,93,68,42,30.15,30.10,30.04,10,10,10,16,6,22.0,0.00,0,NaN,202,2,0,3
5,2012-03-15,79,69,58,61,58,53,90,69,48,30.13,30.08,30.02,10,10,10,31,10,41.0,0.04,3,Rain,209,3,0,3
6,2012-03-16,75,64,52,57,54,51,100,75,49,30.14,30.10,30.07,10,10,10,14,5,20.0,T,2,NaN,169,4,0,3
7,2012-03-17,78,62,46,60,54,46,100,78,56,30.15,30.11,30.04,10,5,0,12,5,17.0,T,3,Fog-Thunderstorm,162,5,0,3
8,2012-03-18,80,70,59,61,58,57,93,69,45,30.14,30.07,30.02,10,10,9,18,8,25.0,T,2,Rain,197,6,0,3
9,2012-03-19,84,72,59,58,56,50,90,66,42,30.09,30.03,29.98,10,10,10,17,6,23.0,0.00,1,NaN,165,0,0,3

In [129]:
weather = weather.rename(columns = {' Events': 'Event'})

In [130]:
weather.Event.value_counts()

Rain                          69
Rain-Thunderstorm             26
Fog                           13
Snow                          13
Fog-Rain                      11
Thunderstorm                   9
Fog-Rain-Thunderstorm          8
Fog-Snow                       5
Rain-Snow                      3
Fog-Rain-Snow                  3
Fog-Rain-Snow-Thunderstorm     1
Fog-Thunderstorm               1
Name: Event, dtype: int64

In [145]:
weather.Event.replace('Rain-Thunderstorm', 'Rain', inplace = True)

In [144]:
weather.Event.value_counts()

Rain                          95
Fog                           13
Snow                          13
Fog-Rain                      11
Thunderstorm                   9
Fog-Rain-Thunderstorm          8
Fog-Snow                       5
Rain-Snow                      3
Fog-Rain-Snow                  3
Fog-Rain-Snow-Thunderstorm     1
Fog-Thunderstorm               1
Name: Event, dtype: int64

In [146]:
null_events = weather[weather['Event'].isnull()] # show index

In [148]:
null_events.index

Int64Index([  0,   3,   4,   6,   9,  10,  11,  15,  16,  17,
            ...
            343, 344, 347, 350, 351, 352, 362, 363, 364, 365],
           dtype='int64', length=204)

In [149]:
events = weather[weather['Event'].notnull()]

In [150]:
crime_2012 = pd.read_json('https://data.cityofchicago.org/resource/guvg-nway.json')

In [151]:
crime_2012.columns

Index(['arrest', 'beat', 'block', 'case_number', 'community_area', 'date',
       'description', 'district', 'domestic', 'fbi_code', 'id', 'iucr',
       'latitude', 'location', 'location_description', 'longitude',
       'primary_type', 'updated_on', 'ward', 'x_coordinate', 'y_coordinate',
       'year'],
      dtype='object')

In [154]:
is_fraud = crime_2012.description == 'TO PROPERTY'

In [156]:
is_fraud = merged.description == 'TO PROPERTY'

In [160]:
merged = pd.merge(crime_2012, weather, left_on = 'date', right_on = 'EDT', how = 'left')

In [157]:
merged.head()

,arrest,beat,block,case_number,community_area,date,description,district,domestic,fbi_code,id,iucr,latitude,location,location_description,longitude,primary_type,updated_on,ward,x_coordinate,y_coordinate,year,EDT,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressureIn,Mean Sea Level PressureIn,Min Sea Level PressureIn,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Event,WindDirDegrees,day,hour,month
0,False,611,077XX S PAULINA ST,HV622458,71,2012-12-31,TO PROPERTY,6,False,14,8950006,1310,41.752988,"{'latitude': '41.752987691', 'human_address': ...",RESIDENCE,-87.665934,CRIMINAL DAMAGE,2016-02-04T06:33:39,17,1166358.0,1853286.0,2012,2012-12-31,36,31,25,31,28,21,92,78,64,30.28,30.13,30.06,10,4,0,18,7,28.0,0.12,7,Fog-Snow,228,0,0,12
1,False,323,073XX S MICHIGAN AVE,HV622485,69,2012-12-31,CREDIT CARD FRAUD,3,False,11,8950007,1150,41.761350,"{'latitude': '41.76134969', 'human_address': '...",RESIDENCE,-87.621600,DECEPTIVE PRACTICE,2016-02-04T06:33:39,6,1178430.0,1856430.0,2012,2012-12-31,36,31,25,31,28,21,92,78,64,30.28,30.13,30.06,10,4,0,18,7,28.0,0.12,7,Fog-Snow,228,0,0,12
2,False,1722,041XX N KEDVALE AVE,HV622908,16,2012-12-31,$500 AND UNDER,17,False,06,8950375,0820,41.956194,"{'latitude': '41.956194347', 'human_address': ...",STREET,-87.730921,THEFT,2016-02-04T06:33:39,39,1148106.0,1927203.0,2012,2012-12-31,36,31,25,31,28,21,92,78,64,30.28,30.13,30.06,10,4,0,18,7,28.0,0.12,7,Fog-Snow,228,0,0,12
3,False,623,075XX S PRAIRIE AVE,HV622925,69,2012-12-31,OVER $500,6,False,06,8950382,0810,41.757616,"{'latitude': '41.757616155', 'human_address': ...",STREET,-87.618298,THEFT,2016-02-04T06:33:39,6,1179342.0,1855077.0,2012,2012-12-31,36,31,25,31,28,21,92,78,64,30.28,30.13,30.06,10,4,0,18,7,28.0,0.12,7,Fog-Snow,228,0,0,12
4,False,235,011XX E 60TH ST,HV623070,42,2012-12-31,OVER $500,2,False,06,8950452,0810,41.785967,"{'latitude': '41.785966719', 'human_address': ...",PARKING LOT/GARAGE(NON.RESID.),-87.597325,THEFT,2016-02-04T06:33:39,20,1184976.0,1865456.0,2012,2012-12-31,36,31,25,31,28,21,92,78,64,30.28,30.13,30.06,10,4,0,18,7,28.0,0.12,7,Fog-Snow,228,0,0,12

In [163]:
merged[merged.Event.isnull()]

,arrest,beat,block,case_number,community_area,date,description,district,domestic,fbi_code,id,iucr,latitude,location,location_description,longitude,primary_type,updated_on,ward,x_coordinate,y_coordinate,year,EDT,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressureIn,Mean Sea Level PressureIn,Min Sea Level PressureIn,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Event,WindDirDegrees,day,hour,month
0,False,1632,037XX N NORA AVE,HW102973,17,2012-12-31 23:58:00,FORCIBLE ENTRY,16,False,05,8953937,0610,41.947762,"{'latitude': '41.947761848', 'human_address': ...",RESIDENCE-GARAGE,-87.802171,BURGLARY,2016-02-04T06:33:39,36,1128745.0,1924002.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,True,1834,0000X E OHIO ST,HW100039,8,2012-12-31 23:55:00,OTHER VIOLATION,18,False,26,8950836,2890,41.892508,"{'latitude': '41.892507592', 'human_address': ...",SIDEWALK,-87.626224,PUBLIC PEACE VIOLATION,2016-02-04T06:33:39,42,1176775.0,1904213.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,1723,035XX W MONTROSE AVE,HW100021,16,2012-12-31 23:55:00,FORCIBLE ENTRY,17,False,05,8950918,0610,41.961089,"{'latitude': '41.961089289', 'human_address': ...",OTHER,-87.716315,BURGLARY,2016-02-04T06:33:39,33,1152066.0,1929015.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,False,235,058XX S MARYLAND AVE,HW100700,41,2012-12-31 23:55:00,FROM BUILDING,2,False,06,8954299,0890,41.788699,"{'latitude': '41.788699253', 'human_address': ...",HOSPITAL BUILDING/GROUNDS,-87.604954,THEFT,2016-02-04T06:33:39,5,1182887.0,1866434.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,False,1933,028XX N HALSTED ST,HW100757,6,2012-12-31 23:50:00,FROM BUILDING,19,False,06,8951459,0890,41.933894,"{'latitude': '41.933894393', 'human_address': ...",RESIDENCE,-87.649053,THEFT,2016-02-04T06:33:39,44,1170439.0,1919244.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,False,1411,026XX N CALIFORNIA AVE,HW100012,22,2012-12-31 23:45:00,DOMESTIC BATTERY SIMPLE,14,True,08B,8951016,0486,41.929360,"{'latitude': '41.929359781', 'human_address': ...",APARTMENT,-87.697544,BATTERY,2016-02-04T06:33:39,35,1157257.0,1917490.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,False,734,070XX S ELIZABETH ST,HV623529,67,2012-12-31 23:45:00,DOMESTIC BATTERY SIMPLE,7,True,08B,8951048,0486,41.765882,"{'latitude': '41.76588157', 'human_address': '...",APARTMENT,-87.655350,BATTERY,2016-02-04T06:33:39,17,1169209.0,1858007.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,False,725,063XX S PAULINA ST,HW100001,67,2012-12-31 23:43:00,AGGRAVATED PO: HANDGUN,7,False,04A,8951044,0550,41.778657,"{'latitude': '41.778656644', 'human_address': ...",STREET,-87.666669,ASSAULT,2016-02-04T06:33:39,15,1166085.0,1862638.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,True,922,043XX S KEDZIE AVE,HV623521,58,2012-12-31 23:40:00,POSS: COCAINE,9,False,18,8950817,2022,41.815093,"{'latitude': '41.815093173', 'human_address': ...",SIDEWALK,-87.704251,NARCOTICS,2016-02-04T06:33:39,14,1155737.0,1875838.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,True,2525,022XX N AVERS AVE,HW100002,22,2012-12-31 23:40:00,AGG: HANDS/FIST/FEET SERIOUS INJURY,25,False,04B,8950828,0479,41.921869,"{'latitude': '41.921869111', 'human_address': ...",APARTMENT,-87.723028,BATTERY,2016-02-04T06:33:39,30,1150342.0,1914710.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,True,313,062XX S RHODES AVE,HW100077,42,2012-12-31 23:38:00,TO VEHICLE,3,False,26,8950880,1360,41.781280,"{'latitude': '41.781279554', 'human_address': ...",ALLEY,-87.612048,CRIMINAL TRESPASS,2016-02-04T06:33:39,20,1180975.0,1863714.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,False,114,005XX S COLUMBUS DR,HW100013,32,2012-12-31 23:35:00,SIMPLE,1,False,08B,8950833,0460,41.875453,"{'latitude': '41.875452995', 'human_address': ...",STREET,-87.620592,BATTERY,2016-02-04T06:33:39,2,1178360.0,1898011.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,False,1921,021XX W BELMONT AVE,HV623527,5,2012-12-31 23:31:00,TO PROPERTY,19,False,14,8950838,1310,41.939536,"{'latitude': '41.939536003', 'human_address': ...",COMMERCIAL / BUSINESS OFFICE,-87.681510,CRIMINAL DAMAGE,2016-02-04T06:33:39,32,1161592.0,1921231.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,True,722,066XX S STEWART AVE,HV623523,68,2012-12-31 23:30:00,DOMESTIC BATTERY SIMPLE,7,True,08B,8950809,0486,41.774011,"{'latitude': '41.77401112', 'human_address': '...",APARTMENT,-87.634892,BATTERY,2016-02-04T06:33:39,6,1174766.0,1861014.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,True,1511,056XX W DIVISION ST,HV623517,25,2012-12-31 23:30:00,DOMESTIC BATTERY SIMPLE,15,True,08B,8950819,0486,41.902118,"{'latitude': '41.902118106', 'human_address': ...",STREET,-87.767351,BATTERY,2016-02-04T06:33:39,29,1138327.0,1907430.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,False,1812,020XX N HALSTED ST,HW100023,7,2012-12-31 23:30:00,FROM BUILDING,18,False,06,8950832,0890,41.918856,"{'latitude': '41.918855705', 'human_address': ...",RESTAURANT,-87.648534,THEFT,2016-02-04T06:33:39,43,1170624.0,1913765.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,False,1824,012XX N STATE PKWY,HW100597,8,2012-12-31 23:30:00,AGG: HANDS/FIST/FEET SERIOUS INJURY,18,False,04B,8951323,0479,41.904263,"{'latitude': '41.90426257', 'human_address': '...",SIDEWALK,-87.628688,BATTERY,2016-02-04T06:33:39,42,1176069.0,1908491.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,False,1831,001XX W HUBBARD ST,HW100659,8,2012-12-31 23:30:00,POCKET-PICKING,18,False,06,8951353,0870,41.890012,"{'latitude': '41.890011565', 'human_address': ...",BAR OR TAVERN,-87.631794,THEFT,2016-02-04T06:33:39,42,1175266.0,1903291.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,True,713,056XX S THROOP ST,HW100615,67,2012-12-31 23:30:00,DOMESTIC BATTERY SIMPLE,7,True,08B,8951370,0486,41.791763,"{'latitude': '41.791763159', 'human_address': ...",APARTMENT,-87.657241,BATTERY,2016-02-04T06:33:39,16,1168619.0,1867434.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,False,814,052XX S LECLAIRE AVE,HW107984,56,2012-12-31 23:30:00,OVER $500,8,False,06,8958717,0810,41.798030,"{'latitude': '41.79803032', 'human_address': '...",STREET,-87.750232,THEFT,2016-02-04T06:33:39,23,1143245.0,1869532.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,False,1133,011XX S CENTRAL PARK AVE,HV623519,29,2012-12-31 23:25:00,TO VEHICLE,11,False,14,8950977,1320,41.866916,"{'latitude': '41.866916243', 'human_address': ...",STREET,-87.715437,CRIMINAL DAMAGE,2016-02-04T06:33:39,24,1152552.0,1894700.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,False,834,085XX S KILPATRICK AVE,HV623504,70,2012-12-31 23:16:48,AGG CRIM SEX ABUSE FAM MEMBER,8,True,20,9169120,1752,41.737436,"{'latitude': '41.737436448', 'human_address': ...",RESIDENCE,-87.738520,OFFENSE INVOLVING CHILDREN,2016-02-04T06:33:39,18,1146591.0,1847474.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,True,531,114XX S DR MARTIN LUTHER KING JR DR,HW100136,49,2012-12-31 23:15:00,POSS: HALLUCINOGENS,5,False,18,8950881,2025,41.686441,"{'latitude': '41.686440584', 'human_address': ...",RESIDENCE PORCH/HALLWAY,-87.613189,NARCOTICS,2016-02-04T06:33:39,9,1180953.0,1829153.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,False,623,076XX S MICHIGAN AVE,HW100638,69,2012-12-31 23:15:00,AUTOMOBILE,6,False,07,8951354,0910,41.756014,"{'latitude': '41.756014092', 'human_address': ...",STREET,-87.621490,MOTOR VEHICLE THEFT,2016-02-04T06:33:39,6,1178476.0,1854486.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,True,123,0000X E ROOSEVELT RD,HV623514,32,2012-12-31 23:00:00,THEFT OF LABOR/SERVICES,1,False,11,8950803,1210,41.867419,"{'latitude': '41.867418897', 'human_address': ...",CTA PLATFORM,-87.626981,DECEPTIVE PRACTICE,2016-02-04T06:33:39,2,1176644.0,1895069.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,False,1215,007XX N ELIZABETH ST,HW100037,24,2012-12-31 23:00:00,$500 AND UNDER,12,False,06,8950821,0820,41.895485,"{'latitude': '41.895484569', 'human_address': ...",VEHICLE NON-COMMERCIAL,-87.659454,THEFT,2016-02-04T06:33:39,27,1167719.0,1905225.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,True,132,022XX S MICHIGAN AVE,HV623531,33,2012-12-31 23:00:00,LICENSE VIOLATION,1,False,26,8950864,5011,41.852303,"{'latitude': '41.852303089', 'human_address': ...",ABANDONED BUILDING,-87.623789,OTHER OFFENSE,2016-02-04T06:33:39,2,1177559.0,1889568.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,False,1432,023XX W MC LEAN AVE,HV623522,22,2012-12-31 23:00:00,$500 AND UNDER,14,False,06,8950939,0820,41.918364,"{'latitude': '41.918364148', 'human_address': ...",RESIDENCE,-87.685844,THEFT,2016-02-04T06:33:39,32,1160471.0,1913507.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,False,1123,033XX W FULTON BLVD,HW100695,27,2012-12-31 23:00:00,TO PROPERTY,11,False,14,8951442,1310,41.886372,"{'latitude': '41.886372152', 'human_address': ...",APARTMENT,-87.709700,CRIMINAL DAMAGE,2016-02-04T06:33:39,28,1154063.0,1901801.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,False,1531,009XX N LEAMINGTON AVE,HW101116,25,2012-12-31 23:00:00,$500 AND UNDER,15,False,06,8951709,0820,41.897723,"{'latitude': '41.897723343', 'human_address': ...",RESIDENCE,-87.754442,THEFT,2016-02-04T06:33:39,37,1141852.0,1905852.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,False,432,102XX S EWING AVE,HW102159,52,2012-12-31 23:00:00,CREDIT CARD FRAUD,4,False,11,8953020,1150,41.709588,"{'latitude': '41.709587557', 'human_address': ...",BAR OR TAVERN,-87.535285,DECEPTIVE PRACTICE,2016-02-04T06:33:39,10,1202154.0,1837775.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,False,1421,026XX W BLOOMINGDALE AVE,HW100055,24,2012-12-31 23:00:00,TO VEHICLE,14,False,14,8983093,1320,41.913938,"{'latitude': '41.913938011', 'human_address': ...",STREET,-87.693733,CRIMINAL DAMAGE,2016-02-04T06:33:39,1,1158336.0,1911878.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,False,323,072XX S CHAMPLAIN AVE,HV632518,69,2012-12-31 22:58:00,TO PROPERTY,3,False,14,8950812,1310,41.763089,"{'latitude': '41.763088669', 'human_address': ...",APARTMENT,-87.609158,CRIMINAL DAMAGE,2016-02-04T06:33:39,6,1181819.0,1857092.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,False,512,105XX S CORLISS AVE,HV623500,50,2012-12-31 22:53:00,DOMESTIC BATTERY SIMPLE,5,True,08B,8950855,0486,41.703509,"{'latitude': '41.703509346', 'human_address': ...",RESIDENCE,-87.603899,BATTERY,2016-02-04T06:33:39,9,1183438.0,1835394.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,False,2515,022XX N LOREL AVE,HW104276,19,2012-12-31 22:45:00,OTHER CRIME AGAINST PERSON,25,False,26,8955321,5000,41.921125,"{'latitude': '41.921125347', 'human_address': ...",RESIDENCE,-87.759742,OTHER OFFENSE,2016-02-04T06:33:39,37,1140352.0,1914370.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,False,1222,030XX W WALNUT ST,HV623503,27,2012-12-31 22:43:00,AGGRAVATED: OTHER DANG WEAPON,12,False,04B,8951039,0430,41.885441,"{'latitude': '41.885441472', 'human_address': ...",STREET,-87.702596,BATTERY,2016-02-04T06:33:39,2,1156000.0,1901476.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,False,815,050XX S ARCHER AVE,HW116012,57,2012-12-31 22:40:00,$500 AND UNDER,8,False,06,8967806,0820,41.801034,"{'latitude': '41.801034017', 'human_address': ...",ATM (AUTOMATIC TELLER MACHINE),-87.727704,THEFT,2016-02-04T06:33:39,23,1149380.0,1870669.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,True,2512,060XX W WRIGHTWOOD AVE,HV623484,19,2012-12-31 22:35:00,POSS: CRACK,25,False,18,8950797,2027,41.927458,"{'latitude': '41.927458377', 'human_address': ...",STREET,-87.777464,NARCOTICS,2016-02-04T06:33:39,29,1135514.0,1916646.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,False,634,001XX E 95TH ST,HV623494,49,2012-12-31 22:30:00,TO PROPERTY,6,False,14,8950843,1310,41.721789,"{'latitude': '41.721789488', 'human_address': ...",RESTAURANT,-87.620110,CRIMINAL DAMAGE,2016-02-04T06:33:39,6,1178956.0,1842018.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,True,1211,027XX W THOMAS ST,HW100235,24,2012-12-31 22:30:00,DOMESTIC BATTERY SIMPLE,12,True,08B,8950946,0486,41.901122,"{'latitude': '41.901121601', 'human_address': ...",APARTMENT,-87.695062,BATTERY,2016-02-04T06:33:39,1,1158009.0,1907205.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,False,2521,048XX W NELSON ST,HV623489,19,2012-12-31 22:30:00,DOMESTIC BATTERY SIMPLE,25,True,08B,8950991,0486,41.936081,"{'latitude': '41.936081047', 'human_address': ...",RESIDENCE,-87.747715,BATTERY,2016-02-04T06:33:39,31,1143588.0,1919842.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,False,332,067XX S EAST END AVE,HW100440,43,2012-12-31 22:30:00,TO PROPERTY,3,False,14,8951140,1310,41.772430,"{'latitude': '41.772429772', 'human_address': ...",RESIDENCE,-87.583839,CRIMINAL DAMAGE,2016-02-04T06:33:39,5,1188697.0,1860555.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,False,1811,022XX N ASHLAND AVE,HW100560,7,2012-12-31 22:30:00,FROM BUILDING,18,False,06,8951476,0890,41.922485,"{'latitude': '41.92248531', 'human_address': '...",RESTAURANT,-87.668440,THEFT,2016-02-04T06:33:39,32,1165196.0,1915045.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,False,1421,019XX N SAWYER AVE,HW100723,22,2012-12-31 22:30:00,FORCIBLE ENTRY,14,False,05,8951504,0610,41.916193,"{'latitude': '41.916193461', 'human_address': ...",APARTMENT,-87.708631,BURGLARY,2016-02-04T06:33:39,35,1154275.0,1912670.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,False,1824,011XX N STATE ST,HW101309,8,2012-12-31 22:30:00,OVER $500,18,False,06,8951946,0810,41.901994,"{'latitude': '41.901993756', 'human_address': ...",RESTAURANT,-87.628349,THEFT,2016-02-04T06:33:39,42,1176168.0,1907665.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,False,112,001XX S WABASH AVE,HW101590,32,2012-12-31 22:30:00,POCKET-PICKING,1,False,06,8952412,0870,41.880433,"{'latitude': '41.880432559', 'human_address': ...",HOTEL/MOTEL,-87.626163,THEFT,2016-02-04T06:33:39,42,1176828.0,1899813.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,False,112,001XX S WABASH AVE,HW101611,32,2012-12-31 22:30:00,CREDIT CARD FRAUD,1,False,11,8952421,1150,41.880433,"{'latitude': '41.880432559', 'human_address': ...",HOTEL/MOTEL,-87.626163,DECEPTIVE PRACTICE,2016-02-04T06:33:39,42,1176828.0,1899813.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,False,831,065XX S ALBANY AVE,HW105680,66,2012-12-31 22:30:00,UNLAWFUL ENTRY,8,True,05,8956561,0620,41.774493,"{'latitude': '41.774493239', 'human_address': ...",RESIDENCE,-87.700583,BURGLARY,2016-02-04T06:33:39,15,1156846.0,1861051.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,False,1821,014XX N WELLS ST,HW100675,8,2012-12-31 22:30:00,FROM BUILDING,18,False,06,8959937,0890,41.908176,"{'latitude': '41.908176407', 'human_address': ...",RESTAURANT,-87.634618,THEFT,2016-02-04T06:33:39,43,1174443.0,1909904.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,True,715,058XX S MARSHFIELD AVE,HV623483,67,2012-12-31 22:25:00,UNLAWFUL POSS OF HANDGUN,7,False,15,8950796,143A,41.788407,"{'latitude': '41.788406688', 'human_address': ...",SIDEWALK,-87.665651,WEAPONS VIOLATION,2016-02-04T06:33:39,15,1166335.0,1866193.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,False,1524,009XX N LOREL AVE,HV622961,25,2012-12-30 18:00:00,AUTOMOBILE,15,False,07,8950463,0910,41.897183,"{'latitude': '41.897182888', 'human_address': ...",STREET,-87.759395,MOTOR VEHICLE THEFT,2016-02-04T06:33:39,37,1140505.0,1905646.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
951,False,2413,060XX N MAPLEWOOD AVE,HV622921,2,2012-12-30 18:00:00,AUTOMOBILE,24,False,07,8950545,0910,41.990936,"{'latitude': '41.99093563', 'human_address': '...",STREET,-87.693330,MOTOR VEHICLE THEFT,2016-02-04T06:33:39,50,1158236.0,1939937.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
952,False,1134,032XX W POLK ST,HV622967,27,2012-12-30 18:00:00,AUTOMOBILE,11,False,07,8950583,0910,41.870953,"{'latitude': '41.870952935', 'human_address': ...",STREET,-87.706807,MOTOR VEHICLE THEFT,2016-02-04T06:33:39,24,1154892.0,1896188.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
953,False,1232,003XX S PEORIA ST,HV623373,28,2012-12-30 18:00:00,OVER $500,12,False,06,8950779,0810,41.877501,"{'latitude': '41.877500741', 'human_address': ...",APARTMENT,-87.649567,THEFT,2016-02-04T06:33:39,2,1170463.0,1898693.0,2012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
is_fraud[:10]

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: description, dtype: bool

In [158]:
merged[is_fraud].head()

,arrest,beat,block,case_number,community_area,date,description,district,domestic,fbi_code,id,iucr,latitude,location,location_description,longitude,primary_type,updated_on,ward,x_coordinate,y_coordinate,year,EDT,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressureIn,Mean Sea Level PressureIn,Min Sea Level PressureIn,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Event,WindDirDegrees,day,hour,month
0,False,611,077XX S PAULINA ST,HV622458,71,2012-12-31,TO PROPERTY,6,False,14,8950006,1310,41.752988,"{'latitude': '41.752987691', 'human_address': ...",RESIDENCE,-87.665934,CRIMINAL DAMAGE,2016-02-04T06:33:39,17,1166358.0,1853286.0,2012,2012-12-31,36,31,25,31,28,21,92,78,64,30.28,30.13,30.06,10,4,0,18,7,28.0,0.12,7,Fog-Snow,228,0,0,12

In [76]:
merged.head(10)

,arrest,beat,block,case_number,community_area,date,description,district,domestic,fbi_code,id,iucr,latitude,location,location_description,longitude,primary_type,updated_on,ward,x_coordinate,y_coordinate,year,EDT,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressureIn,Mean Sea Level PressureIn,Min Sea Level PressureIn,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,False,611,077XX S PAULINA ST,HV622458,71,2012-12-31,TO PROPERTY,6,False,14,8950006,1310,41.752988,"{'latitude': '41.752987691', 'human_address': ...",RESIDENCE,-87.665934,CRIMINAL DAMAGE,2016-02-04T06:33:39,17,1166358.0,1853286.0,2012,2012-12-31,36,31,25,31,28,21,92,78,64,30.28,30.13,30.06,10,4,0,18,7,28.0,0.12,7,Fog-Snow,228
1,False,323,073XX S MICHIGAN AVE,HV622485,69,2012-12-31,CREDIT CARD FRAUD,3,False,11,8950007,1150,41.761350,"{'latitude': '41.76134969', 'human_address': '...",RESIDENCE,-87.621600,DECEPTIVE PRACTICE,2016-02-04T06:33:39,6,1178430.0,1856430.0,2012,2012-12-31,36,31,25,31,28,21,92,78,64,30.28,30.13,30.06,10,4,0,18,7,28.0,0.12,7,Fog-Snow,228
2,False,1722,041XX N KEDVALE AVE,HV622908,16,2012-12-31,$500 AND UNDER,17,False,06,8950375,0820,41.956194,"{'latitude': '41.956194347', 'human_address': ...",STREET,-87.730921,THEFT,2016-02-04T06:33:39,39,1148106.0,1927203.0,2012,2012-12-31,36,31,25,31,28,21,92,78,64,30.28,30.13,30.06,10,4,0,18,7,28.0,0.12,7,Fog-Snow,228
3,False,623,075XX S PRAIRIE AVE,HV622925,69,2012-12-31,OVER $500,6,False,06,8950382,0810,41.757616,"{'latitude': '41.757616155', 'human_address': ...",STREET,-87.618298,THEFT,2016-02-04T06:33:39,6,1179342.0,1855077.0,2012,2012-12-31,36,31,25,31,28,21,92,78,64,30.28,30.13,30.06,10,4,0,18,7,28.0,0.12,7,Fog-Snow,228
4,False,235,011XX E 60TH ST,HV623070,42,2012-12-31,OVER $500,2,False,06,8950452,0810,41.785967,"{'latitude': '41.785966719', 'human_address': ...",PARKING LOT/GARAGE(NON.RESID.),-87.597325,THEFT,2016-02-04T06:33:39,20,1184976.0,1865456.0,2012,2012-12-31,36,31,25,31,28,21,92,78,64,30.28,30.13,30.06,10,4,0,18,7,28.0,0.12,7,Fog-Snow,228
5,False,1731,040XX W EDDY ST,HV623216,16,2012-12-31,AUTOMOBILE,17,False,07,8950575,0910,41.945603,"{'latitude': '41.94560349', 'human_address': '...",STREET,-87.728135,MOTOR VEHICLE THEFT,2016-02-04T06:33:39,30,1148891.0,1923349.0,2012,2012-12-31,36,31,25,31,28,21,92,78,64,30.28,30.13,30.06,10,4,0,18,7,28.0,0.12,7,Fog-Snow,228
6,False,1932,027XX N MAGNOLIA AVE,HV623197,7,2012-12-31,$500 AND UNDER,19,False,06,8950585,0820,41.931434,"{'latitude': '41.931433749', 'human_address': ...",STREET,-87.659884,THEFT,2016-02-04T06:33:39,32,1167499.0,1918324.0,2012,2012-12-31,36,31,25,31,28,21,92,78,64,30.28,30.13,30.06,10,4,0,18,7,28.0,0.12,7,Fog-Snow,228
7,False,1631,036XX N HARLEM AVE,HV623302,17,2012-12-31,AUTOMOBILE,16,False,07,8950626,0910,41.945644,"{'latitude': '41.945643679', 'human_address': ...",STREET,-87.807018,MOTOR VEHICLE THEFT,2016-02-04T06:33:39,36,1127431.0,1923222.0,2012,2012-12-31,36,31,25,31,28,21,92,78,64,30.28,30.13,30.06,10,4,0,18,7,28.0,0.12,7,Fog-Snow,228
8,False,323,073XX S ST LAWRENCE AVE,HV623201,69,2012-12-31,AUTOMOBILE,3,False,07,8950676,0910,41.761430,"{'latitude': '41.761430224', 'human_address': ...",STREET,-87.610324,MOTOR VEHICLE THEFT,2016-02-04T06:33:39,6,1181506.0,1856485.0,2012,2012-12-31,36,31,25,31,28,21,92,78,64,30.28,30.13,30.06,10,4,0,18,7,28.0,0.12,7,Fog-Snow,228
9,False,2534,040XX W NORTH AVE,HV623326,23,2012-12-31,OVER $500,25,False,06,8950705,0810,41.909878,"{'latitude': '41.909878223', 'human_address': ...",PARKING LOT/GARAGE(NON.RESID.),-87.726918,THEFT,2016-02-04T06:33:39,30,1149314.0,1910333.0,2012,2012-12-31,36,31,25,31,28,21,92,78,64,30.28,30.13,30.06,10,4,0,18,7,28.0,0.12,7,Fog-Snow,228

In [168]:
#crimes from 2014-2016
crimes_correct = pd.read_csv('/Users/andrewyaz/Downloads/crimes.csv')

In [170]:
crimes_correct.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10433096,HZ170962,01/01/2012 12:00:00 AM,026XX N MC VICKER AVE,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,RESIDENCE,True,False,2512,25,29.0,19.0,17,NaN,NaN,2012,05/11/2016 03:48:18 PM,NaN,NaN,NaN
1,10433124,HZ170983,01/01/2012 12:00:00 AM,026XX N MC VICKER AVE,1544,SEX OFFENSE,SEXUAL EXPLOITATION OF A CHILD,RESIDENCE,True,False,2512,25,29.0,19.0,17,NaN,NaN,2012,05/11/2016 03:48:18 PM,NaN,NaN,NaN
2,10520780,HZ262685,04/13/2012 12:00:00 AM,064XX S DR MARTIN LUTHER KING JR DR,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,False,312,3,20.0,69.0,11,NaN,NaN,2012,05/14/2016 03:53:39 PM,NaN,NaN,NaN
3,10521090,HZ262624,08/12/2012 12:00:00 PM,027XX S CHRISTIANA AVE,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,RESIDENCE,False,True,1032,10,22.0,30.0,17,NaN,NaN,2012,05/14/2016 03:53:39 PM,NaN,NaN,NaN
4,10521199,HZ262885,02/13/2012 07:00:00 PM,070XX S WESTERN AVE,1130,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,OTHER,False,False,832,8,17.0,66.0,11,NaN,NaN,2012,05/14/2016 03:53:39 PM,NaN,NaN,NaN

In [171]:
crimes_correct.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [177]:
pd.unique(crimes_correct['Primary Type'].values)

array(['SEX OFFENSE', 'DECEPTIVE PRACTICE', 'CRIM SEXUAL ASSAULT',
       'OFFENSE INVOLVING CHILDREN', 'THEFT', 'BATTERY', 'NARCOTICS',
       'ASSAULT', 'ARSON', 'MOTOR VEHICLE THEFT', 'OTHER OFFENSE',
       'WEAPONS VIOLATION', 'BURGLARY', 'PUBLIC PEACE VIOLATION',
       'CRIMINAL DAMAGE', 'CRIMINAL TRESPASS', 'ROBBERY',
       'LIQUOR LAW VIOLATION', 'INTERFERENCE WITH PUBLIC OFFICER',
       'PROSTITUTION', 'KIDNAPPING', 'GAMBLING', 'STALKING',
       'INTIMIDATION', 'OBSCENITY', 'HOMICIDE', 'PUBLIC INDECENCY',
       'NON-CRIMINAL', 'OTHER NARCOTIC VIOLATION',
       'NON-CRIMINAL (SUBJECT SPECIFIED)'], dtype=object)